/* SUMMARY
1. GLOBAL
2. SECTIONS
3. RESPONSIVE
*/


/*** 1. GLOBAL ***/

/* Variables
			============================= */
:root {

	/* Colors */
	--new-black: #071629;
	--new-purple: #C271FF;

	/*Fonts*/
	--font-Source: "Source Sans Pro", sans-serif;
	--font-size-12px: 1.2rem;
	--font-size-14px: 1.4rem;
	--font-size-16px: 1.6rem;
	--font-size-18px: 1.8rem;
	--font-size-22px: 2.2rem;

}

/* Base
					============================= */

html {
	scroll-behavior: smooth;
	font-size: 10px;
	/* For rem */
}

body {
	font-family: var(--font-Source) !important;
}

a:hover {
	color: var(--new-purple) !important;
}

h1 {
	font-size: 61px !important;
	line-height: 76px !important;
}

h2 {
	font-size: 3.2rem !important;
	line-height: 4rem !important;
}

.btn {
	width: 162px;
	height: 44px;
	background-color: var(--new-purple) !important;
	border-color: var(--new-purple) !important;
	font-weight: 600 !important;
	font-size: var(--font-size-14px) !important;
	filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

.btn:hover,
.btn:active {
	opacity: 0.9;
}

/*** 2. SECTIONS ***/

/* Header
			============================= */

.header {
	width: 100%;
	height: auto;
	padding-bottom: 96px;
	background-image: url("images/pic_1.jpg");
	background-color: var(--new-black);
	background-position-x: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.navbar-line,
.navbar-lines {
	display: block;
	height: 2px;
	background-color: var(--navbar-line-color);
	border-radius: 2px;
}

.navbar-line {
	width: 13px;
}

.line-1 {
	width: 18px;
}

.line-3 {
	width: 20px;
}

.nav-link {
	font-size: var(--font-size-12px);
	line-height: 1.5rem;
}

/* Section Hero
			============================= */

.section-hero {
	height: auto;
	margin-top: 176px;
}

.list-group-item {
	font-size: var(--font-size-16px);
	line-height: 2rem;
}

.section-hero_subtitle {
	margin-top: 150px;
	margin-bottom: 87px;
}

.section-hero_subtitle-span {
	color: var(--new-purple);
}

.section-hero_pros-name {
	font-size: var(--font-size-18px);
	font-weight: 900;
	line-height: 2.7rem;
}

.section-hero_pros-description {
	width: 150px;
	font-size: var(--font-size-16px);
	line-height: 2.4rem;
}

/* Section Carousel
			============================= */

.section-carousel {
	width: auto;
	height: auto;
	padding-top: 68px;
	padding-bottom: 103px;
	background-color: var(--new-purple);
}

.section-carousel_img {
	width: 140px;
	height: 140px;
}

.section-carousel_text {
	width: 346px;
	height: auto;
}

.section-carousel_testimonial,
.section-carousel_person-name,
.section-carousel_person-name_description {
	font-size: var(--font-size-22px);
	line-height: 34px;
}

.section-carousel_person-name {
	margin-top: 22px;
}

.carousel-control-prev,
.carousel-control-next {
	height: 140px;
	width: 29px !important;
}



/*** 3. RESPONSIVE ***/

/* Medium ≥768px
			============================= */

@media (min-width: 768px) {

	/*** 1. GLOBAL ***/

	/* Base
			============================= */

	h1 {
		font-size: 120px !important;
		line-height: 150px !important;
	}

	/*** 2. SECTIONS ***/


	/* Section Hero
			============================= */

	.section-hero_subtitle {
		margin-top: 168px;
	}

	/* Section Carousel
			============================= */

	.div-slide {
		width: 552px;
	}

	.section-carousel_img {
		width: 148px;
		height: 148px;
	}

	.section-carousel_text {
		width: 370px;
	}

	.carousel-control-prev,
	.carousel-control-next {
		height: 246px;
	}

}

/* Large ≥992px
			============================= */

@media (min-width: 992px) {

	/*** 2. SECTIONS ***/


	/* Section Carousel
			============================= */
	.section-carousel_img {
		width: 160px;
		height: 160px;
	}

	.div-slide {
		width: 852px;
	}

	.section-carousel_text {
		width: 650px;
	}

	.carousel-control-prev,
	.carousel-control-next {
		height: 178px;
	}

}

/* Extra large ≥1200px
			============================= */

@media (min-width: 1200px) {

	/*** 2. SECTIONS ***/

	/* Section Carousel
			============================= */
	.div-slide {
		width: 943px;
	}

	.section-carousel_text {
		width: 730px;
	}
}